src/wsdl/MGPoolBulkWS_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-.-->
<!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-.-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://MGPoolBulk.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://MGPoolBulk.me.org/" name="MGPoolBulkWSService">
	<types>
		<xs:schema xmlns:tns="http://MGPoolBulk.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://MGPoolBulk.me.org/" version="1.0">
			<xs:complexType name="stringArray">
				<xs:sequence>
					<xs:element name="correlationID" type="xs:string"/>
					<xs:element name="LA" type="xs:string"/>
					<xs:element name="Xms" type="xs:string"/>
					<xs:element name="MSISDN" type="xs:string"/>
					<xs:element name="ServiceID" type="xs:string"/>
					<xs:element name="TimeStamp" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetServiceMsgs" type="tns:GetServiceMsgs"/>
			<xs:complexType name="GetServiceMsgs">
				<xs:sequence>
					<xs:element name="arg0" type="xs:string"/>
					<xs:element name="arg1" type="xs:string"/>
					<xs:element name="arg2" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetServiceMsgsResponse" type="tns:GetServiceMsgsResponse"/>
			<xs:complexType name="GetServiceMsgsResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:stringArray" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="GetServiceMsgs">
		<part name="parameters" element="tns:GetServiceMsgs"/>
	</message>
	<message name="GetServiceMsgsResponse">
		<part name="parameters" element="tns:GetServiceMsgsResponse"/>
	</message>
	<portType name="MGPoolBulkWS">
		<operation name="GetServiceMsgs">
			<input message="tns:GetServiceMsgs" wsam:Action="http://MGPoolBulk.me.org/MGPoolBulkWS/GetServiceMsgsRequest"/>
			<output message="tns:GetServiceMsgsResponse" wsam:Action="http://MGPoolBulk.me.org/MGPoolBulkWS/GetServiceMsgsResponse"/>
		</operation>
	</portType>
	<binding name="MGPoolBulkWSPortBinding" type="tns:MGPoolBulkWS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetServiceMsgs">
			<soap:operation/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="MGPoolBulkWSService">
		<port name="MGPoolBulkWSPort" binding="tns:MGPoolBulkWSPortBinding">
			<soap:address location="http://10.218.214.178:7061/MGPOOLBULKV2/MGPoolWS"/>
		</port>
	</service>
</definitions>
